@inherits LayoutComponentBase

<div class="as_main_wrapper">
    <section class="as_header_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="as_logo">
                        <a href="index.html">
                            <img src="assets/images/logo1.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="as_blog_wrapper as_section_dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center">
                    <h1 class="as_heading">Latest Articles</h1>
                    <span class="as_title_line">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink"
                             width="193px" height="21px">
                            <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                                  d="M188.852,19.425 L185.832,16.418 L177.218,16.418 C176.896,17.339 176.018,18.001 174.984,18.001 C173.949,18.001 173.071,17.339 172.749,16.418 L170.782,16.418 C170.503,16.941 169.951,17.298 169.314,17.298 C168.677,17.298 168.125,16.941 167.846,16.418 L155.583,16.418 C155.261,17.339 154.383,18.001 153.349,18.001 C152.314,18.001 151.436,17.339 151.114,16.418 L149.147,16.418 C148.868,16.941 148.316,17.298 147.679,17.298 C147.042,17.298 146.490,16.941 146.211,16.418 L136.245,16.418 L136.245,14.868 L146.211,14.868 C146.490,14.344 147.042,13.987 147.679,13.987 C148.316,13.987 148.868,14.344 149.147,14.868 L151.114,14.868 C151.436,13.947 152.314,13.284 153.349,13.284 C154.383,13.284 155.261,13.947 155.583,14.868 L167.846,14.868 C168.125,14.344 168.677,13.987 169.314,13.987 C169.951,13.987 170.503,14.344 170.782,14.868 L172.749,14.868 C173.071,13.947 173.949,13.284 174.984,13.284 C176.018,13.284 176.896,13.947 177.218,14.868 L185.132,14.868 L188.852,11.163 L193.000,15.294 L188.852,19.425 ZM128.736,20.194 C127.557,20.835 126.143,21.176 124.757,20.897 C123.398,20.617 122.192,19.831 121.458,18.689 C121.093,18.118 120.880,17.457 120.844,16.780 C120.809,16.099 120.996,15.446 121.304,14.890 C121.612,14.331 122.061,13.865 122.583,13.536 C123.112,13.216 123.735,13.072 124.314,13.128 C123.135,13.282 122.292,14.207 121.963,15.186 C121.611,16.189 121.842,17.221 122.499,17.947 C123.122,18.685 124.082,19.149 125.011,19.213 C125.929,19.277 126.895,18.995 127.693,18.450 C129.309,17.367 130.316,15.431 130.284,13.527 C130.275,12.580 130.047,11.681 129.555,10.915 C129.069,10.146 128.353,9.501 127.544,9.142 C126.749,8.763 125.863,8.660 124.945,8.825 C124.030,8.995 123.112,9.424 122.240,9.989 C120.459,11.079 119.045,12.857 117.271,14.481 C116.393,15.293 115.438,16.096 114.336,16.707 C113.228,17.309 112.050,17.725 110.836,17.941 C108.429,18.352 105.811,17.946 103.952,16.480 C106.100,17.426 108.459,17.375 110.532,16.695 C111.573,16.367 112.559,15.878 113.421,15.260 C114.280,14.631 115.069,13.887 115.814,13.051 C116.561,12.218 117.284,11.324 118.096,10.448 C118.893,9.566 119.808,8.683 120.843,7.946 C121.879,7.205 123.093,6.610 124.456,6.321 C125.811,6.038 127.347,6.167 128.654,6.779 C129.953,7.393 131.008,8.389 131.736,9.583 C132.468,10.783 132.831,12.216 132.759,13.578 C132.636,16.292 131.139,18.911 128.736,20.194 ZM108.887,15.270 C107.246,15.973 105.536,16.364 103.818,16.480 C105.398,15.806 106.932,15.098 108.263,14.157 C109.605,13.238 110.727,12.106 111.473,10.801 C112.196,9.484 112.618,8.019 112.443,6.653 C112.350,5.966 112.191,5.353 111.840,4.783 C111.498,4.220 111.040,3.706 110.498,3.335 C109.965,2.958 109.367,2.674 108.766,2.602 C108.169,2.506 107.579,2.585 106.967,2.830 C105.749,3.307 104.635,4.462 104.008,5.700 C103.700,6.331 103.550,7.018 103.576,7.692 C103.601,8.375 103.829,9.078 104.255,9.630 C104.663,10.207 105.297,10.590 106.058,10.712 C106.809,10.831 107.655,10.671 108.317,10.114 C107.421,11.675 104.822,11.934 103.322,10.512 C102.573,9.839 102.090,8.916 101.874,7.932 C101.657,6.927 101.794,5.891 102.105,4.953 C102.422,4.010 102.933,3.156 103.579,2.426 C104.220,1.692 105.002,1.042 105.943,0.579 C106.874,0.115 108.022,-0.087 109.109,0.046 C110.199,0.173 111.189,0.628 112.036,1.223 C112.875,1.836 113.554,2.628 114.064,3.523 C114.574,4.415 114.869,5.475 114.911,6.469 C114.989,8.493 114.306,10.411 113.178,11.913 C112.066,13.453 110.502,14.545 108.887,15.270 ZM96.222,16.983 C94.201,16.983 92.562,15.351 92.562,13.338 C92.562,11.325 94.201,9.694 96.222,9.694 C98.243,9.694 99.881,11.325 99.881,13.338 C99.881,15.351 98.243,16.983 96.222,16.983 ZM89.677,10.512 C88.177,11.934 85.579,11.675 84.682,10.114 C85.344,10.671 86.191,10.831 86.941,10.712 C87.703,10.590 88.337,10.207 88.744,9.630 C89.171,9.078 89.398,8.375 89.424,7.692 C89.449,7.018 89.299,6.331 88.991,5.700 C88.364,4.462 87.250,3.307 86.032,2.830 C85.421,2.585 84.831,2.506 84.234,2.602 C83.632,2.674 83.034,2.958 82.502,3.335 C81.959,3.706 81.501,4.220 81.159,4.783 C80.808,5.353 80.649,5.966 80.556,6.653 C80.382,8.019 80.803,9.484 81.526,10.801 C82.273,12.106 83.394,13.238 84.736,14.157 C86.068,15.098 87.601,15.806 89.181,16.480 C87.464,16.364 85.754,15.973 84.113,15.270 C82.498,14.545 80.934,13.453 79.822,11.913 C78.693,10.411 78.010,8.493 78.088,6.469 C78.131,5.475 78.426,4.415 78.935,3.523 C79.446,2.628 80.124,1.836 80.964,1.223 C81.810,0.628 82.800,0.173 83.891,0.046 C84.978,-0.087 86.126,0.115 87.057,0.579 C87.998,1.042 88.779,1.692 89.420,2.426 C90.066,3.156 90.577,4.010 90.894,4.953 C91.206,5.891 91.342,6.927 91.125,7.932 C90.909,8.916 90.426,9.839 89.677,10.512 ZM82.468,16.695 C84.541,17.375 86.899,17.426 89.047,16.480 C87.189,17.946 84.571,18.352 82.164,17.941 C80.950,17.725 79.772,17.309 78.663,16.707 C77.562,16.096 76.606,15.293 75.729,14.481 C73.954,12.857 72.541,11.079 70.759,9.989 C69.887,9.424 68.969,8.995 68.054,8.825 C67.136,8.660 66.250,8.763 65.456,9.142 C64.646,9.501 63.931,10.146 63.445,10.915 C62.952,11.681 62.724,12.580 62.715,13.527 C62.683,15.431 63.691,17.367 65.306,18.450 C66.105,18.995 67.070,19.277 67.989,19.213 C68.918,19.149 69.877,18.685 70.500,17.947 C71.157,17.221 71.388,16.189 71.037,15.186 C70.708,14.207 69.864,13.282 68.685,13.128 C69.265,13.072 69.887,13.216 70.417,13.536 C70.938,13.865 71.388,14.331 71.695,14.890 C72.004,15.446 72.191,16.099 72.155,16.780 C72.119,17.457 71.906,18.118 71.541,18.689 C70.808,19.831 69.601,20.617 68.242,20.897 C66.856,21.176 65.443,20.835 64.263,20.194 C61.860,18.911 60.363,16.292 60.240,13.578 C60.169,12.216 60.532,10.783 61.263,9.583 C61.991,8.389 63.047,7.393 64.345,6.779 C65.652,6.167 67.188,6.038 68.543,6.321 C69.906,6.610 71.120,7.205 72.156,7.946 C73.192,8.683 74.106,9.566 74.904,10.448 C75.715,11.324 76.439,12.218 77.185,13.051 C77.930,13.887 78.719,14.631 79.578,15.260 C80.440,15.878 81.426,16.367 82.468,16.695 ZM45.320,17.298 C44.684,17.298 44.131,16.941 43.852,16.418 L41.885,16.418 C41.563,17.339 40.686,18.001 39.651,18.001 C38.616,18.001 37.739,17.339 37.416,16.418 L25.154,16.418 C24.874,16.941 24.322,17.298 23.685,17.298 C23.049,17.298 22.496,16.941 22.217,16.418 L20.250,16.418 C19.928,17.339 19.051,18.001 18.016,18.001 C16.981,18.001 16.104,17.339 15.781,16.418 L7.167,16.418 L4.147,19.425 L-0.001,15.294 L4.147,11.163 L7.867,14.868 L15.781,14.868 C16.103,13.947 16.981,13.284 18.016,13.284 C19.051,13.284 19.928,13.947 20.250,14.868 L22.217,14.868 C22.496,14.344 23.049,13.987 23.685,13.987 C24.322,13.987 24.875,14.344 25.154,14.868 L37.416,14.868 C37.738,13.947 38.616,13.284 39.651,13.284 C40.686,13.284 41.563,13.947 41.885,14.868 L43.852,14.868 C44.131,14.344 44.684,13.987 45.320,13.987 C45.957,13.987 46.510,14.344 46.789,14.868 L56.755,14.868 L56.755,16.418 L46.789,16.418 C46.510,16.941 45.957,17.298 45.320,17.298 Z"/>
                        </svg>
                    </span>
                    <div class="v3_blog_wrapper">
                        @Body
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="as_copyright_wrapper text-center">
            <p>Copyright &copy; 2023 Astrology. All Right Reserved.</p>
        </div>
    </section>
</div>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />